*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.headText{
  color: #000;
  margin-left: 20px;
  font-size: 22px;
  margin-top: 25px;
}
.header{
  background-image: url('https://wp.salesforce.com/en-us/wp-content/uploads/sites/4/2023/04/php-marqee-ai-data-crm-lg-bg.jpg?resize=1536,480');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn{
 margin-left: 75rem;
margin-top: -10px;
}
.btns{
  display: flex;
  gap: 20px;
}
.landing{
  margin-top: 10px;
  display: flex;
  justify-content:center ;
  flex-direction: row;
  margin-left: 70px;
  gap: 30px;
  flex-wrap: wrap;
}
.tom{
  text-align: center;
}
.land{
  width:520px;
}
.land-descr{
  width: 500px;
}
.land-Text{
  margin-top: 50px;
  font-size:large;
}
.land-img{
  width: 590px;
  margin-top: 50px;
  border-radius: 20px;
}
.butt{
  width: 150px;
}
.serv{
  text-align: center;
  margin-top: 50px;
}
.services{
  text-align: center;
  margin-top: 50px;
  display:flex ;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.body-images{
  display: flex;
  justify-content: center;
  margin-left: 80px;

}
.pa{
  font-size: 13px;
}
.pr{
  font-size: 1.1rem;
  width: 75%;
}
.nope{
  display: none;
}
.sec-Text{
  color: blue;
  text-align: center;
}
.sec-img{
  width: 50px;
}
.sec-body{
  width: 400px;
}
.why{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 50px;
}
.sec-head{
  color: #555;
}
.side{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-left: 50px;
}
.title{
  color: #555;
}
.link{
  text-decoration: underline;
  cursor: pointer;
}
.foot-end{
 text-align: center;
}
.tye{
  width: 600px;
  margin-left: 380px;
}
.foot-img{
  margin-left: 200px;
}
.card{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.text{
  margin-left: 500px;
  
}
.menu-button {
  display: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
}
.menu {
  display: none;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

@media (max-width: 600px) {

    .menu {
      display:none;
     float: right;

    }

  
    .menu-button {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 999;
      display: block;
    }
    .menu-button:hover{
      display: block;
    }
  
    .menu a {
      font-size: 18px;
    }
    
    .land-Text{
     text-align: center;
      font-size: 16px;
      margin-top: 25px;
    
    }
    .land-descr{
      width: 100%;
    }
    .land-descr{
      text-align: center;
    }
    .btns{
      flex-direction: column;
      justify-content: center;
     
    }
    .land{
      width: 100%;
      font-size: large;
    }
    .butt{
      width: 100%;
    }
    .land-img{
      width: 80%;
    }
    .aesthetic{
      width: 100%;
      display: none;
    }
    .side ,.body-images{
      flex-wrap: wrap;
      justify-content: center;
    }
    .foot-img{
      width: 100%;
      margin-left: 20px;
      
    }
    .tye{
      width: 300px;
      font-size: 16px;
      margin-top: 20px;
      margin-left: 100px;
      margin-bottom: 20px;
    }
    .tom{
      text-align: center;
    }
    .landing{
      margin: auto;
      width: fit-content;
    }
    .headText{
      margin-left: 2px;
    }
    .img-1{
      width: fit-content;
    }
}
